<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xwx.cms.dao.VoteContentDao">

	<select id="select" resultType="com.xwx.cms.pojo.VoteContent">
		SELECT * FROM cms_user
	</select>

	<select id="selectById" resultType="com.xwx.cms.pojo.VoteContent">
	
	SELECT * FROM cms_vote_content WHERE id=#{id}

	</select>

	<insert id="insert">
		UPDATE cms_vote_content SET title=#{title},content=#{content} WHERE id=#{id}
	</insert>

	<update id="update">
		INSERT INTO cms_vote_content(title,content)VALUES (#{title},#{content})

	</update>

	<delete id="delete">
		DELETE FROM cms_vote_content WHERE id in(${ids})
	</delete>

</mapper>